
.labelDetail {
    width: 220px;
    height: 140px;
    padding: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid #E9EEF2;
    border-radius: 15px;

    font-family: 'Roboto', sans-serif;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top .labelIcon {
    font-size: 20px;
    padding: .5rem;
    color: #3248F3;
    background-color: #F3F4FE;

    border: 1px solid #F3F4FE;
    border-radius: 10px;
}

.top .moreButtonIcon {
    color: #576D82;
}

.bottom {
    font-family: 'Roboto', sans-serif;
}

.bottom .title {
    font-size: 400;
    color: #75899C;
}

.bottom .value {
    font-size: 30px;
    font-weight: 600;
    color: #2C414D;
}
